*{
  margin: 0;
  box-sizing: border-box;

}
.containet{
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline:20px ;
}

body{
  background: url("https://trafaret-decor.ru/sites/default/files/2023-03/%D0%A4%D0%BE%D0%BD%20%D0%A4%D1%83%D1%82%D1%83%D1%80%D0%B8%D0%B7%D0%BC%20%2839%29.jpg")
  fixed;
}
